.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.757000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.990000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.990000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.990000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.757000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:0.990000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff7;src:url(f7.woff)format("woff");}.ff7{font-family:ff7;line-height:0.990000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff8;src:url(f8.woff)format("woff");}.ff8{font-family:ff8;line-height:0.990000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff9;src:url(f9.woff)format("woff");}.ff9{font-family:ff9;line-height:0.925293;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ffa;src:url(fa.woff)format("woff");}.ffa{font-family:ffa;line-height:0.939453;font-style:normal;font-weight:normal;visibility:visible;}
.m1{transform:matrix(0.249325,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.249325,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.249325,0.000000,0.000000,0.250000,0,0);}
.m2{transform:matrix(0.249327,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.249327,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.249327,0.000000,0.000000,0.250000,0,0);}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:-7.200000px;}
.ls5{letter-spacing:-1.644573px;}
.ls6{letter-spacing:-0.405511px;}
.ls1{letter-spacing:0.000000px;}
.ls2{letter-spacing:1.120000px;}
.ls3{letter-spacing:1.440000px;}
.ls7{letter-spacing:1.600000px;}
.ls4{letter-spacing:3.490900px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws4{word-spacing:-3.490900px;}
.ws6{word-spacing:-1.600000px;}
.ws3{word-spacing:-1.440000px;}
.ws2{word-spacing:-1.120000px;}
.ws1{word-spacing:0.000000px;}
.ws5{word-spacing:1.644573px;}
.ws0{word-spacing:7.200000px;}
._3{margin-left:-2.424000px;}
._0{margin-left:-1.208000px;}
._1{width:1.188000px;}
._2{width:2.396000px;}
._5{width:3.421082px;}
._6{width:135.373156px;}
._7{width:2765.563856px;}
._8{width:4280.992000px;}
._4{width:4282.432000px;}
._9{width:4285.760000px;}
.fc1{color:rgb(255,255,255);}
.fc0{color:rgb(0,0,0);}
.fs4{font-size:22.528400px;}
.fs5{font-size:27.772400px;}
.fs2{font-size:32.000000px;}
.fs1{font-size:40.000000px;}
.fs3{font-size:69.818000px;}
.fs0{font-size:240.000000px;}
.y19{bottom:-18.431800px;}
.yc{bottom:-0.614200px;}
.y0{bottom:0.000000px;}
.y1e{bottom:21.259800px;}
.y1a{bottom:23.916000px;}
.y1c{bottom:25.651400px;}
.y1d{bottom:27.247176px;}
.y1b{bottom:33.988800px;}
.yd{bottom:57.050000px;}
.y18{bottom:533.689700px;}
.y17{bottom:545.689700px;}
.yb{bottom:551.507300px;}
.y16{bottom:557.689700px;}
.ya{bottom:563.507300px;}
.y15{bottom:569.689700px;}
.y9{bottom:575.507300px;}
.y14{bottom:581.689700px;}
.y8{bottom:587.507300px;}
.y7{bottom:599.507300px;}
.y13{bottom:605.689700px;}
.y12{bottom:617.689700px;}
.y6{bottom:623.507300px;}
.y11{bottom:629.689700px;}
.y5{bottom:635.507300px;}
.y10{bottom:641.689700px;}
.y4{bottom:647.507300px;}
.yf{bottom:653.689700px;}
.y3{bottom:659.507300px;}
.y2{bottom:671.507300px;}
.ye{bottom:745.402600px;}
.y1{bottom:763.220200px;}
.y1f{bottom:822.635800px;}
.h8{height:16.401291px;}
.h9{height:20.246188px;}
.h5{height:25.312000px;}
.h4{height:31.640000px;}
.h7{height:50.829413px;}
.h3{height:178.800000px;}
.h6{height:234.887000px;}
.h1{height:807.500000px;}
.ha{height:808.000000px;}
.h2{height:828.520000px;}
.h0{height:850.394000px;}
.w3{width:279.961000px;}
.w2{width:1133.858000px;}
.w0{width:1133.860000px;}
.w1{width:1134.000000px;}
.x6{left:-233.277100px;}
.x7{left:-176.584200px;}
.x9{left:-91.534200px;}
.x8{left:-34.844200px;}
.x0{left:0.000000px;}
.x1{left:21.259900px;}
.xa{left:59.308600px;}
.x2{left:77.952800px;}
.x4{left:163.002800px;}
.x3{left:219.692800px;}
.xc{left:227.693400px;}
.x5{left:254.537000px;}
.xb{left:320.717800px;}
.xe{left:414.201200px;}
.xf{left:592.799800px;}
.xd{left:988.294680px;}
.x10{left:1098.403900px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:-9.600000pt;}
.ls5{letter-spacing:-2.192764pt;}
.ls6{letter-spacing:-0.540682pt;}
.ls1{letter-spacing:0.000000pt;}
.ls2{letter-spacing:1.493333pt;}
.ls3{letter-spacing:1.920000pt;}
.ls7{letter-spacing:2.133333pt;}
.ls4{letter-spacing:4.654533pt;}
.ws4{word-spacing:-4.654533pt;}
.ws6{word-spacing:-2.133333pt;}
.ws3{word-spacing:-1.920000pt;}
.ws2{word-spacing:-1.493333pt;}
.ws1{word-spacing:0.000000pt;}
.ws5{word-spacing:2.192764pt;}
.ws0{word-spacing:9.600000pt;}
._3{margin-left:-3.232000pt;}
._0{margin-left:-1.610667pt;}
._1{width:1.584000pt;}
._2{width:3.194667pt;}
._5{width:4.561443pt;}
._6{width:180.497541pt;}
._7{width:3687.418474pt;}
._8{width:5707.989333pt;}
._4{width:5709.909333pt;}
._9{width:5714.346667pt;}
.fs4{font-size:30.037867pt;}
.fs5{font-size:37.029867pt;}
.fs2{font-size:42.666667pt;}
.fs1{font-size:53.333333pt;}
.fs3{font-size:93.090667pt;}
.fs0{font-size:320.000000pt;}
.y19{bottom:-24.575733pt;}
.yc{bottom:-0.818933pt;}
.y0{bottom:0.000000pt;}
.y1e{bottom:28.346400pt;}
.y1a{bottom:31.888000pt;}
.y1c{bottom:34.201867pt;}
.y1d{bottom:36.329568pt;}
.y1b{bottom:45.318400pt;}
.yd{bottom:76.066667pt;}
.y18{bottom:711.586267pt;}
.y17{bottom:727.586267pt;}
.yb{bottom:735.343067pt;}
.y16{bottom:743.586267pt;}
.ya{bottom:751.343067pt;}
.y15{bottom:759.586267pt;}
.y9{bottom:767.343067pt;}
.y14{bottom:775.586267pt;}
.y8{bottom:783.343067pt;}
.y7{bottom:799.343067pt;}
.y13{bottom:807.586267pt;}
.y12{bottom:823.586267pt;}
.y6{bottom:831.343067pt;}
.y11{bottom:839.586267pt;}
.y5{bottom:847.343067pt;}
.y10{bottom:855.586267pt;}
.y4{bottom:863.343067pt;}
.yf{bottom:871.586267pt;}
.y3{bottom:879.343067pt;}
.y2{bottom:895.343067pt;}
.ye{bottom:993.870133pt;}
.y1{bottom:1017.626933pt;}
.y1f{bottom:1096.847733pt;}
.h8{height:21.868388pt;}
.h9{height:26.994917pt;}
.h5{height:33.749333pt;}
.h4{height:42.186667pt;}
.h7{height:67.772551pt;}
.h3{height:238.400000pt;}
.h6{height:313.182667pt;}
.h1{height:1076.666667pt;}
.ha{height:1077.333333pt;}
.h2{height:1104.693333pt;}
.h0{height:1133.858667pt;}
.w3{width:373.281333pt;}
.w2{width:1511.810667pt;}
.w0{width:1511.813333pt;}
.w1{width:1512.000000pt;}
.x6{left:-311.036133pt;}
.x7{left:-235.445600pt;}
.x9{left:-122.045600pt;}
.x8{left:-46.458933pt;}
.x0{left:0.000000pt;}
.x1{left:28.346533pt;}
.xa{left:79.078133pt;}
.x2{left:103.937067pt;}
.x4{left:217.337067pt;}
.x3{left:292.923733pt;}
.xc{left:303.591200pt;}
.x5{left:339.382667pt;}
.xb{left:427.623733pt;}
.xe{left:552.268267pt;}
.xf{left:790.399733pt;}
.xd{left:1317.726240pt;}
.x10{left:1464.538533pt;}
}
